<h1>Une personne a effectuée un achat sur votre site</h1>
<ul>
    <li>Nom de l'acheteur: {{ name }}</li>
    <li>Email de l'acheteur: {{ email }}</li>
    <li>Address de livraison: {{ address }}</li>
    <li>Produit acheter: {{ product }}</li>
    <li>Prix: {{ price }}</li>
    <li>TVA: {{ vat }}</li>
    <li>Montant Total payer: {{ amount }}</li>
    <li>Pays: {{ country }}</li>
    <li>montant livraison: {{ fret }}</li>
    <li>Description du produit:
    <ul>
        <li>{{ description }}</li>
    </ul>
    </li>
</ul>
<p>Dans certain cas échéant, contacter l'acheteur pour confirmation de l'adresse de livraison</p>
<p>Cordialement,</p>