{% extends '@admin/layout.twig' %}

{% block title "Admin Dashboard | Atelier de brazzaville" %}

{% block body %}
    <!-- welcome Project, sale area start-->
    <div class="welcome-adminpro-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="welcome-wrapper shadow-reset res-mg-t mg-b-30">
                        <div class="welcome-adminpro-title">
                            <h1>Bienvenue</h1>
                            <p>Les cinq derniers articles les plus vues du site</p>
                        </div>
                        <div class="adminpro-message-list">
                            <ul class="message-list-menu">
                                {% for item in items %}
                                <li><span class="message-serial message-cl-one">{{ item.id }}</span> <span class="message-info">{{ item.title }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <div class="dashboard-line-chart shadow-reset mg-b-30">
                        <div class="flot-chart dashboard-chart">
                            <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="linechart-dash-rate">
                                    <h2>{{ weekIncome }}€</h2>
                                    <p>Revenu hebdomadaire</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="linechart-dash-rate">
                                    <h2>{{ monthIncome }}€</h2>
                                    <p>Revenu Mensuel</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="linechart-dash-rate">
                                    <h2>{{ yearIncome }}€</h2>
                                    <p>Revenu Annuel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desplay-n-tablet">
                    <div class="dashone-adminprowrap shadow-reset mg-b-30">
                        <div class="dash-adminpro-project-title">
                            <h2>Message D'accueil</h2>
                            <p>Ajouter ou modifier votre message d'accueil</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="project-dashone-phara">
                                    <p style="padding: 0; margin-bottom: 6px">{{ message.content | excerpt | raw }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="{{ path("admin.message") }}" class="btn btn-info">Modifier Message d'acceuil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- welcome Project, sale area start-->
    <!-- stockprice, feed area start-->
    <div class="stockprice-feed-project-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="sparkline7-list stock-price-section shadow-reset nt-mg-b-30">
                        <div class="sparkline7-hd">
                            <div class="main-spark7-hd">
                                <h1>Valeur du stock de produits</h1>
                                <div class="sparkline7-outline-icon">
                                    <span class="sparkline7-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline7-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline7-graph">
                            <div class="dashone-bar-small dashone-bar">
                                <span class="bar_dashboard">5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1</span>
                                <p>{{ stockPrice }} €</p>
                            </div>
                            <div class="dashone-bar-heading">
                                <h2>Prix total de votre stock</h2>
                                <a href="#">Voir les prix de votre stock!</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sparkline11-list shadow-reset nt-mg-b-30">
                                <div class="sparkline11-hd">
                                    <div class="main-sparkline11-hd">
                                        <h1>Nouveau commentaires</h1>
                                        <div class="sparkline11-outline-icon">
                                            <span class="sparkline11-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline11-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sparkline11-graph dashone-comment comment-scrollbar">
                                    {% for comment in comments %}
                                    <div class="comment-phara">
                                        <div class="comment-adminpr">
                                            <p class="comment-content">
                                                <a href="{{ path('blog.show', {slug:comment.slug, id:comment.postId}) }}{{ "#" ~ comment.id }}">@{{ comment.username }}</a>
                                                {{ comment.comment }}
                                            </p>
                                        </div>
                                        <div class="admin-comment-month">
                                            <p class="comment-clock"><i class="fa fa-clock-o"></i> {{ ago(comment.createdAt) }}</p>
                                            <button class="comment-setting" data-toggle="collapse" data-target="#adminpro-demo1">...</button>
                                            <ul id="adminpro-demo1" class="comment-action-st collapse">
                                                <li><a href="{{ path('blog.show', {slug:comment.slug, id:comment.postId}) }}{{ "#" ~ comment.id }}">Voir le commentaire</a>
                                                </li>
                                                <li><a href="#">Répondre</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {%  endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="about-sparkline shadow-reset desplay-n-tablet-pro">
                        <div class="sparkline-hd">
                            <div class="main-spark-hd">
                                <h1>Les derniers achat effectuer sur le site </h1>
                                <div class="outline-icon">
                                    <span class="collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline-content timeline-scrollbar">
                            {% for p in purchases %}
                            <div class="row timelinewrap-admin res-mg-b-10">
                                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 timeline-date-time-bd">
                                    <div class="icon-date-timeline">
                                        <i class="fa fa-shopping-cart"></i>
                                        <p>{{ p.createdAt.format("d/m/y H:i") }}</p>
                                        <p class="timeline-hr-cl">{{ ago(p.createdAt) }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12 timeline-adminpro-cn timeline-adminpro-bd-ct">
                                    <div class="timeline-content">
                                        <h3>Produit acheter: {{ p.name }}</h3>
                                        <h3>Prix: {{ p.price | number_format(2, ",") }}{{ "€" }}</h3>
                                        <h3>TVA: {{ p.vat * 100 }}{{ p.vat != 0 ? "%" : "" }}</h3>
                                        <h3>Pays: {{ p.country }}</h3>
                                        <p>{{ p.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    {{ widgets | raw }}
                    <div class="income-dashone-total shadow-reset nt-mg-b-30">
                        <div class="income-title">
                            <div class="main-income-head">
                                <h2>Les utilisateurs</h2>
                                <div class="main-income-phara low-value-cl">
                                    <p><a href="" style="color: #fff">Voir tous les utilisateurs</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="income-dashone-pro">
                            <div class="income-rate-total">
                                <div class="price-adminpro-rate">
                                    <h3><span class="counter">{{ userCount }}</span></h3>
                                </div>
                                <div class="price-graph">
                                    <span id="sparkline5"></span>
                                </div>
                            </div>
                            <div class="income-range low-value-cl">
                                <p>Nombre total des utilisateurs inscrit</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- stockprice, feed area end-->
    </div>
{% endblock %}