<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title "Atelier de brazzaville" %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/bootstrap.min.css">
    <!-- font awesome CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/font-awesome.min.css">
    <!-- adminpro icon CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/adminpro-custon-icon.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/meanmenu.min.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/jquery.mCustomScrollbar.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/animate.css">
    <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/modals.css">
    <!-- data-table CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="../../webroot/css/data-table/bootstrap-editable.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/normalize.css">
    <!-- notifications CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/Lobibox.min.css">
    <link rel="stylesheet" href="../../webroot/css/notifications.css">
    <!-- charts C3 CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/c3.min.css">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/form/all-type-forms.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/responsive.css">
    <!-- Flatpicker CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/flatpicker.css">
    <!-- Main CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/main.css">
    <!-- modernizr JS
		============================================ -->
    <script src="../../webroot/js/modernizr-2.8.3.min.js"></script>
</head>

<body class="materialdesign modal-open" style="overflow: auto">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header top area start-->
<div class="wrapper-pro">
    <div class="left-sidebar-pro">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="#"><img src="../../webroot/img/message/1.jpg" alt="" />
                </a>
                <h3>{{ current_user().first_name }} {{ current_user().last_name }}</h3>
                <p>Administrateur</p>
                <strong>AB</strong>
            </div>
            <div class="left-custom-menu-adp-wrap">
                <ul class="nav navbar-nav left-sidebar-menu-pro">
                    {{ admin_menu() }}
                </ul>
            </div>
        </nav>
    </div>
    <div class="content-inner-all">
        <div class="header-top-area">
            <div class="fixed-header-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-1 col-sm-1 col-xs-12">
                            <div class="header-top-menu tabl-d-n">
                                <ul class="nav navbar-nav mai-top-nav">
                                    <li class="nav-item"><a href="#" class="nav-link">Accueil</a></li>
                                    <li class="nav-item dropdown">
                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Atelier <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                        <div role="menu" class="dropdown-menu animated flipInX">
                                            <a href="#" class="dropdown-item">Maternelles</a>
                                            <a href="#" class="dropdown-item">Primaire</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Production <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span></a>
                                        <div role="menu" class="dropdown-menu animated flipInX">
                                            <a href="#" class="dropdown-item">Bijoux</a>
                                            <a href="#" class="dropdown-item">Sacs</a>
                                            <a href="#" class="dropdown-item">Vêtements</a>
                                            <a href="#" class="dropdown-item">Déco</a>
                                            <a href="#" class="dropdown-item">Récup'</a>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a href="#" class="nav-link">Boutique Ephémère</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <div class="header-right-info">
                                <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                    <li class="nav-item dropdown">
                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span class="adminpro-icon adminpro-chat-pro"></span><span class="indicator-ms"></span></a>
                                        <div role="menu" class="author-message-top dropdown-menu animated flipInX">
                                            <div class="message-single-top">
                                                <h1>Message</h1>
                                            </div>
                                            <ul class="message-menu">
                                                <li>
                                                    <a href="#">
                                                        <div class="message-img">
                                                            <img src="../../webroot/img/message/1.jpg" alt="">
                                                        </div>
                                                        <div class="message-content">
                                                            <span class="message-date">16 Sept</span>
                                                            <h2>Advanda Cro</h2>
                                                            <p>Please done this project as soon possible.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="message-img">
                                                            <img src="../../webroot/img/message/4.jpg" alt="">
                                                        </div>
                                                        <div class="message-content">
                                                            <span class="message-date">16 Sept</span>
                                                            <h2>Sulaiman din</h2>
                                                            <p>Please done this project as soon possible.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="message-img">
                                                            <img src="../../webroot/img/message/3.jpg" alt="">
                                                        </div>
                                                        <div class="message-content">
                                                            <span class="message-date">16 Sept</span>
                                                            <h2>Victor Jara</h2>
                                                            <p>Please done this project as soon possible.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="message-img">
                                                            <img src="../../webroot/img/message/2.jpg" alt="">
                                                        </div>
                                                        <div class="message-content">
                                                            <span class="message-date">16 Sept</span>
                                                            <h2>Victor Jara</h2>
                                                            <p>Please done this project as soon possible.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="message-view">
                                                <a href="#">View All Messages</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                        <div role="menu" class="notification-author dropdown-menu animated flipInX">
                                            <div class="notification-single-top">
                                                <h1>Notifications</h1>
                                            </div>
                                            <ul class="notification-menu">
                                                <li>
                                                    <a href="#">
                                                        <div class="notification-icon">
                                                            <span class="adminpro-icon adminpro-checked-pro"></span>
                                                        </div>
                                                        <div class="notification-content">
                                                            <span class="notification-date">16 Sept</span>
                                                            <h2>Advanda Cro</h2>
                                                            <p>Please done this project as soon possible.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="notification-icon">
                                                            <span class="adminpro-icon adminpro-cloud-computing-down"></span>
                                                        </div>
                                                        <div class="notification-content">
                                                            <span class="notification-date">16 Sept</span>
                                                            <h2>Sulaiman din</h2>
                                                            <p>Please done this project as soon possible.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="notification-icon">
                                                            <span class="adminpro-icon adminpro-shield"></span>
                                                        </div>
                                                        <div class="notification-content">
                                                            <span class="notification-date">16 Sept</span>
                                                            <h2>Victor Jara</h2>
                                                            <p>Please done this project as soon possible.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="notification-icon">
                                                            <span class="adminpro-icon adminpro-analytics-arrow"></span>
                                                        </div>
                                                        <div class="notification-content">
                                                            <span class="notification-date">16 Sept</span>
                                                            <h2>Victor Jara</h2>
                                                            <p>Please done this project as soon possible.</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="notification-view">
                                                <a href="#">View All Notification</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                            <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                                            <span class="admin-name">{{ current_user().first_name }} {{ current_user().last_name }}</span>
                                            <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                                        </a>
                                        <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                            <li><a href="#"><span class="adminpro-icon adminpro-home-admin author-log-ic"></span>Profile</a></li>
                                            <li><a href="#"><span class="adminpro-icon adminpro-money author-log-ic"></span>Facturation</a></li>
                                            <li><a href="#"><span class="adminpro-icon adminpro-settings author-log-ic"></span>Paramètre</a></li>
                                            <li>
                                                <form action="{{ path('auth.logout') }}" method="post">
                                                    <button style="background: none; margin-left: 14px; color: #fff; border-style: none">
                                                        <i class="adminpro-icon adminpro-locked author-log-ic"></i>Se déconnecter
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcome start-->
        <div class="breadcome-area mg-b-30 small-dn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcome-heading">
                                        <form role="search" class="">
                                            <input type="text" placeholder="Search..." class="form-control">
                                            <a href=""><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <ul class="breadcome-menu">
                                        <li><a href="{{ path('homepage.show') }}">Accueil</a> <span class="bread-slash">/</span></li>
                                        {% block dashboard '' %}
                                        <li><span class="bread-blod">{% block pageTitle "Dashboard" %}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcome End-->
        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    {{ admin_menu() }}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->
        <!-- Breadcome start-->
        <div class="breadcome-area mg-b-30 des-none">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcome-heading">
                                        <form role="search" class="">
                                            <input type="text" placeholder="Search..." class="form-control">
                                            <a href=""><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <ul class="breadcome-menu">
                                        {% block dashboardMobile '' %}
                                        <li><span class="bread-blod">{% block pageTitleMobile "Dashboard" %}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcome End-->
        {% if flash('success') %}
            <div data-msg="{{ flash('success') }}" data-type="success" id="session"></div>
        {% endif %}
        {% if flash('error') %}
            <div data-msg="{{ flash('error') }}" data-type="error" id="session"></div>
        {% endif %}
        {% block body %}{% endblock %}
    </div>
</div>

<!-- jquery
    ============================================ -->
<script src="../../webroot/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="../../webroot/js/bootstrap.min.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="../../webroot/js/jquery.meanmenu.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="../../webroot/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="../../webroot/js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="../../webroot/js/jquery.scrollUp.min.js"></script>
<!-- notification JS
		============================================ -->
<script src="../../webroot/js/Lobibox.js"></script>
<script src="../../webroot/js/notification-active.js"></script>
<!-- counterup JS
    ============================================ -->
<script src="../../webroot/js/counterup/jquery.counterup.min.js"></script>
<script src="../../webroot/js/counterup/waypoints.min.js"></script>
<script src="../../webroot/js/counterup/counterup-active.js"></script>
<!-- modal JS
		============================================ -->
<script src="../../webroot/js/modal-active.js"></script>
<!-- icheck JS
		============================================ -->
<script src="../../webroot/js/icheck/icheck.min.js"></script>
<script src="../../webroot/js/icheck/icheck-active.js"></script>
<!-- peity JS
    ============================================ -->
<script src="../../webroot/js/peity/jquery.peity.min.js"></script>
<script src="../../webroot/js/peity/peity-active.js"></script>
<!-- sparkline JS
    ============================================ -->
<script src="../../webroot/js/sparkline/jquery.sparkline.min.js"></script>
<script src="../../webroot/js/sparkline/sparkline-active.js"></script>
<!-- flot JS
    ============================================ -->
<script src="../../webroot/js/flot/jquery.flot.js"></script>
<script src="../../webroot/js/flot/jquery.flot.tooltip.min.js"></script>
<script src="../../webroot/js/flot/jquery.flot.spline.js"></script>
<script src="../../webroot/js/flot/jquery.flot.resize.js"></script>
<script src="../../webroot/js/flot/jquery.flot.pie.js"></script>
<script src="../../webroot/js/flot/Chart.min.js"></script>
<script src="../../webroot/js/flot/flot-active.js"></script>

<!-- data table JS
    ============================================ -->
<script src="../../webroot/js/data-table/bootstrap-table.js"></script>
<script src="../../webroot/js/data-table/tableExport.js"></script>
<script src="../../webroot/js/data-table/data-table-active.js"></script>
<script src="../../webroot/js/data-table/bootstrap-table-editable.js"></script>
<script src="../../webroot/js/data-table/bootstrap-editable.js"></script>
<script src="../../webroot/js/data-table/bootstrap-table-resizable.js"></script>
<script src="../../webroot/js/data-table/colResizable-1.5.source.js"></script>
<script src="../../webroot/js/data-table/bootstrap-table-export.js"></script>
<script src="../../webroot/js/ckeditor/ckeditor.js"></script>
<!-- faltpicker -->
<script src="../../webroot/js/flatpicker.js"></script>
<script src="../../webroot/js/fr.js"></script>
<!-- main JS
    ============================================ -->
<script src="../../webroot/js/main.js"></script>

<script type="text/javascript" src="../../webroot/js/script.js" defer></script>
</body>

</html>