{% extends '@admin/layout.twig' %}
{% block pageTitleMobile "Message d'accueil" %}
{% block body %}
    <div class="advanced-form-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="sparkline8-list shadow-reset">
                        <div class="sparkline8-hd">
                            <div class="main-sparkline8-hd">
                                <h1>Détails du message d'accueil</h1>
                                <div class="sparkline8-outline-icon">
                                    <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline8-graph">
                            <div class="basic-login-form-ad">
                                <form action="">
                                    <div class="row">
                                        {{ field('show_content', 'Contenu', exist.content, {disabled: true, col:12, type: 'textarea'}) }}
                                        {{ field('show_created_date', 'Date d\'ajout', exist.created_at, {disabled: true, col:12}) }}
                                        {{ field('show_updated_date', 'Date de la dernière modification', exist.updated_at, {disabled: true, col:12}) }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 res-mg-t-30">
                    <div class="sparkline9-list shadow-reset">
                        <div class="sparkline9-hd">
                            <div class="main-sparkline9-hd">
                                <h1>Message d'accueil</h1>
                                <div class="sparkline9-outline-icon">
                                    <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline8-graph">
                            <div class="basic-login-form-ad">
                                <form action="{{ path('admin.message') }}" method="POST">
                                    <div class="row">
                                        {{ field('content', 'Contenu *', exist.content, {type: 'textarea', col: 12, placeholder: 'Contenu'}) }}
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="basic-login-inner">
                                                <div class="login-btn-inner">
                                                    <div class="inline-remember-me">
                                                        <button class="btn btn-sm btn-success pull-right" type="submit">
                                                            <span class="fa fa-save"></span>
                                                            Enregistrer message
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic Form End-->
{% endblock %}