<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="portfolio row">
                        {% for f in fPosts %}
                            <div class="pitem item-w1 item-h1">
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="{{ path('blog.show', {slug:f.slug, id:f.id}) }}" title="">
                                            <img src="../../style/upload/menu_01.jpg" alt="" class="img-fluid">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <span class="bg-grey"><a href="{{ path('blog.category', {slug:f.category_slug}) }}" title="">{{ f.category_name }}</a></span>
                                        <h4><a href="{{ path('blog.show', {slug:f.slug, id:f.id}) }}" title="">{{ f.title }}</a></h4>
                                        <small><a href="blog-author.html" title="">By: Jessica</a></small>
                                        <small><a href="blog-category-01.html" title="">{{ f.created_date.format('d M Y H:i') }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            </div><!-- end col -->
                        {% endfor %}
                    </div><!-- end portfolio -->
                </div><!-- end page-wrapper -->
                <hr class="invis">
                {{ paginate(fPosts, "blog.tendance") }}
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>