{% extends 'layout.twig' %}

{% block title post.title %}

{% block body %}

    <section class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="page-wrapper">
                        <div class="blog-title-area text-center">
                            <ol class="breadcrumb hidden-xs-down">
                                <li class="breadcrumb-item"><a href="{{ path('homepage.show') }}">Accueil</a></li>
                                <li class="breadcrumb-item"><a href="{{ path('blog.category', {slug:post.category_slug}) }}">{{ post.category_name }}</a></li>
                                <li class="breadcrumb-item active">{{ post.title }}</li>
                            </ol>

                            <span class="color-aqua"><a href="{{ path('blog.index') }}" title="">{{ post.category_name }}</a></span>

                            <h3>{{ post.title }}</h3>

                            <div class="blog-meta big-meta">
                                <small><a href="single.html" title="">Ajouté le {{ post.created_date | datetime }}</a></small>
                                <small><a href="single.html" title="">{{ ago(post.created_date) }}</a></small>
                                <small><a href="single.html" title="">Edité le {{ post.apdated_date | datetime }}</a></small>
                                <!--<small><a href="blog-author.html" title="">by Jessica</a></small> -->
                                <small><a href="#" title=""><i class="fa fa-eye"></i> {{ post.view }}</a></small>
                            </div><!-- end meta -->

                            <div class="post-sharing">
                                <ul class="list-inline">
                                    <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Partager sur Facebook</span></a></li>
                                    <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweeter sur Twitter</span></a></li>
                                </ul>
                            </div><!-- end post-sharing -->
                        </div><!-- end title -->

                        <div class="single-post-media">
                            <img src="{{ post.main }}" alt="" class="img-fluid">
                        </div><!-- end media -->

                        <div class="blog-content">
                            <div class="pp">
                                {{ post.content | raw }}
                            </div>
                        </div><!-- end content -->

                        <div class="blog-title-area">
                            <div class="tag-cloud-single">
                                <span style="font-family: 'pacifico', cursive">{{ post.category_name }}</span>
                            </div><!-- end meta -->
                        </div><!-- end title -->

                        <!-- ADVERTISING
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="../../style/upload//banner_01.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->

                        <hr class="invis1">

                        <hr class="invis1">

                        <!--
                        <div class="custombox authorbox clearfix">
                            <h4 class="small-title">A propos de l'auteur</h4>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <img src="../../style/upload//author.jpg" alt="" class="img-fluid rounded-circle">
                                </div>

                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <h4><a href="#">Jessica</a></h4>
                                    <p>Quisque sed tristique felis. Lorem <a href="#">visit my website</a> amet, consectetur adipiscing elit. Phasellus quis mi auctor, tincidunt nisl eget, finibus odio. Duis tempus elit quis risus congue feugiat. Thanks for stop Cloapedia!</p>

                                    <div class="topsocial">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        -->

                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <h4 class="small-title">Vous aimerez aussi</h4>
                            <div class="row">
                                {% for liked in likedPosts %}
                                <div class="col-lg-6">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="{{ path('blog.show', {slug:liked.slug, id:liked.id}) }}" title="">
                                                <img src="{{ liked.main }}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class=""></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="{{ path('blog.show', {slug:liked.slug, id:liked.id}) }}" title="">{{ liked.title }}</a></h4>
                                            <small><a href="{{ path('blog.tendance') }}" title="">Trends</a></small>
                                            <small><a href="blog-category-01.html" title="">{{ liked.created_date | datetime }}</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end col -->
                                {% endfor %}
                            </div><!-- end row -->
                        </div><!-- end custom-box -->

                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <h4 class="small-title">Commentaires</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="comments-list">
                                        <h1>Aucun commentaire</h1>
                                        <div class="media">
                                            <!--
                                            <a class="media-left" href="#">
                                                <img src="../../style/upload//author.jpg" alt="" class="rounded-circle">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading user_name">Amanda Martines <small>5 days ago</small></h4>
                                                <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean.</p>
                                            </div>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <h4 class="small-title">Commenter</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-wrapper">
                                        <input type="text" class="form-control" placeholder="Your name">
                                        <input type="text" class="form-control" placeholder="Email address">
                                        <input type="text" class="form-control" placeholder="Website">
                                        <textarea class="form-control" placeholder="Your comment"></textarea>
                                        <button type="submit" class="btn btn-primary">Soumettre le Commentaire</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

{% endblock %}