{% extends 'layout.twig' %}

{% block body %}
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            <div class="left-side">
                <div class="masonry-box post-media">
                        <img src="{{ topPage[0].left }}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="{{ path('blog.category', {slug:topPage[0].category_slug}) }}" title="">{{ topPage[0].name }}</a></span>
                                <h4><a href="{{ path('blog.show', {slug:topPage[0].slug, id:topPage[0].id}) }}" title="{{ topPage[0].title }}">{{ topPage[0].title | excerpt(30) }}</a></h4>
                                <small><a href="single.html" title="">{{ topPage[0].created_date | datetime }}</a></small>
                                <!--<small><a href="blog-author.html" title="">by Amanda</a></small>-->
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            <div class="center-side">
                <div class="masonry-box post-media">
                        <img src="{{ topPage[1].greatmiddle }}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="{{ path('blog.category', {slug:topPage[1].category_slug}) }}" title="">{{ topPage[1].name }}</a></span>
                                <h4><a href="{{ path('blog.show', {slug:topPage[1].slug, id:topPage[1].id}) }}" title="{{ topPage[1].title }}">{{ topPage[1].title | excerpt(30) }}</a></h4>
                                <small><a href="single.html" title="">{{ topPage[1].created_date | datetime }}</a></small>
                                <!--<small><a href="blog-author.html" title="">by Amanda</a></small>-->
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->

                <div class="masonry-box small-box post-media">
                        <img src="{{ topPage[2].thumbmiddle }}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="{{ path('blog.category', {slug:topPage[2].category_slug}) }}" title="">{{ topPage[2].name }}</a></span>
                                <h4><a href="{{ path('blog.show', {slug:topPage[2].slug, id:topPage[2].id}) }}" title="{{ topPage[2].title }}">{{ topPage[2].title | excerpt(30) }}</a></h4>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->

                <div class="masonry-box small-box post-media">
                        <img src="{{ topPage[3].thumbmiddle }}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="{{ path('blog.category', {slug:topPage[3].category_slug}) }}" title="">{{ topPage[3].name }}</a></span>
                                <h4><a href="{{ path('blog.show', {slug:topPage[3].slug, id:topPage[3].id}) }}" title="{{ topPage[3].title }}">{{ topPage[3].title | excerpt(30) }}</a></h4>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            <div class="right-side hidden-md-down">
                <div class="masonry-box post-media">
                        <img src="{{ topPage[4].left }}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="{{ path('blog.category', {slug:topPage[4].category_slug}) }}" title="">{{ topPage[4].name }}</a></span>
                                <h4><a href="{{ path('blog.show', {slug:topPage[4].slug, id:topPage[4].id}) }}" title="{{ topPage[4].title }}">{{ topPage[4].title | excerpt(30) }}</a></h4>
                                <small><a href="single.html" title="">{{ topPage[4].created_date | datetime }}</a></small>
                                <!--<small><a href="blog-author.html" title="">by Jessica</a></small>-->
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end right-side -->
        </div><!-- end masonry -->
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h3 class="color-aqua"><a href="{{ path('blog.category', {slug:'primaire'}) }}" title="">Primaire</a></h3>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {% for ado in preteens %}
                        <div class="blog-box">
                            <div class="post-media">
                                <a href="{{ path('blog.show', {slug:ado.slug, id:ado.id}) }}" title="">
                                    <img src="{{ ado.primary }}" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta big-meta">
                                <h4><a href="{{ path('blog.show', {slug:ado.slug, id:ado.id}) }}" title="{{ ado.title }}">{{ ado.title | excerpt(30) }}</a></h4>
                                <div>{{ ado.content | excerpt | raw }}</div>
                                <small><a href="{{ path('blog.category', {slug:'primaire'}) }}" title="">Primaire</a></small>
                                <small><a href="single.html" title="">{{ ado.created_date | datetime }}</a></small>
                                <!--<small><a href="blog-author.html" title="">by Amanda</a></small>-->
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">
                        {% endfor %}
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h3 class="color-aqua"><a href="{{ path('blog.category', {slug:'maternelles'}) }}" title="">Maternelles</a></h3>
                </div><!-- end title -->
                <div class="row">
                    {{ layout(children) }}
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis1">

        <!--    ADVERTISING
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="banner-spot clearfix">
                    <div class="banner-img">
                        <img src="../style/upload/banner_01.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <hr class="invis1">
        -->

        <div class="row">
            <div class="col-lg-9">
                <div class="blog-list clearfix">
                    <div class="section-title">
                        <h3 class="color-aqua"><a href="{{ path('blog.category', {slug:'bijoux'}) }}" title="">Bijoux</a></h3>
                    </div><!-- end title -->
                    {% for jewelry in jewelries %}
                    <div class="blog-box row">
                        <div class="col-md-4">
                            <div class="post-media">
                                <a href="{{ path('blog.show', {slug:jewelry.slug, id:jewelry.id}) }}" title="">
                                    <img src="{{ jewelry.thumb }}" alt="" class="img-fluid">
                                    <div class="hovereffect"></div>
                                </a>
                            </div><!-- end media -->
                        </div><!-- end col -->

                        <div class="blog-meta big-meta col-md-8">
                            <h4><a href="{{ path('blog.show', {slug:jewelry.slug, id:jewelry.id}) }}" title="{{ jewelry.title }}">{{ jewelry.title | excerpt(30) }}</a></h4>
                            <div>{{ jewelry.content | excerpt | raw }}</div>
                            <small><a href="{{ path('blog.category', {slug:'bijoux'}) }}" title="">Bijoux</a></small>
                            <small><a href="single.html" title="">{{ jewelry.created_date | datetime }}</a></small>
                            <!--<small><a href="blog-author.html" title="">by Boby</a></small>-->
                        </div><!-- end meta -->
                    </div><!-- end blog-box -->

                    <hr class="invis">
                    {% endfor %}
                </div><!-- end blog-list -->

                <hr class="invis">

                <div class="blog-list clearfix">
                    <div class="section-title">
                        <h3 class="color-aqua"><a href="{{ path('blog.category', {slug:'sacs'}) }}" title="">Sacs</a></h3>
                    </div><!-- end title -->
                    {% for bag in bags %}
                    <div class="blog-box row">
                        <div class="col-md-4">
                            <div class="post-media">
                                <a href="{{ path('blog.show', {slug:bag.slug, id:bag.id}) }}" title="">
                                    <img src="{{ bag.thumb }}" alt="" class="img-fluid">
                                    <div class="hovereffect"></div>
                                </a>
                            </div>
                        </div>

                        <div class="blog-meta big-meta col-md-8">
                            <h4><a href="{{ path('blog.show', {slug:bag.slug, id:bag.id}) }}" title="{{ bag.title }}">{{ bag.title | excerpt(30) }}</a></h4>
                            <p>{{ bag.content | excerpt | raw }}</p>
                            <small><a href="{{ path('blog.category', {slug:'sacs'}) }}" title="">Sacs</a></small>
                            <small><a href="single.html" title="">{{ bag.created_date | datetime }}</a></small>
                            <!--<small><a href="blog-author.html" title="">by Matilda</a></small>-->
                        </div>
                    </div>

                    <hr class="invis">
                    {% endfor %}
                </div><!-- end blog-list -->
            </div><!-- end col -->

            <div class="col-lg-3">
                <div class="section-title">
                    <h3 class="color-aqua"><a href="{{ path('blog.category', {slug:'vetements'}) }}" title="">Vêtements</a></h3>
                </div><!-- end title -->
                {% for cloth in clothing %}
                <div class="blog-box">
                    <div class="post-media">
                        <a href="{{ path('blog.show', {slug:cloth.slug, id:cloth.id}) }}" title="">
                            <img src="{{ cloth.main }}" alt="" class="img-fluid">
                            <div class="hovereffect">
                                <span></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="{{ path('blog.show', {slug:cloth.slug, id:cloth.id}) }}" title="{{ cloth.title }}">{{ cloth.title | excerpt(30) }}</a></h4>
                        <small><a href="{{ path('blog.category', {slug:'vetements'}) }}" title="">Vêtements</a></small>
                        <small><a href="blog-category-01.html" title="">{{ cloth.created_date | datetime }}</a></small>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->

                <hr class="invis">
                {% endfor %}

                <div class="section-title">
                    <h3 class="color-aqua"><a href="{{ path('blog.category', {slug:'deco'}) }}" title="">Déco</a></h3>
                </div><!-- end title -->
                {% for deco in decoration %}
                <div class="blog-box">
                    <div class="post-media">
                        <a href="{{ path('blog.show', {slug:deco.slug, id:deco.id}) }}" title="">
                            <img src="{{ deco.main }}" alt="" class="img-fluid">
                            <div class="hovereffect">
                                <span></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="{{ path('blog.show', {slug:deco.slug, id:deco.id}) }}" title="{{ deco.title }}">{{ deco.title | excerpt(30) }}</a></h4>
                        <small><a href="{{ path('blog.category', {slug:'deco'}) }}" title="">Déco</a></small>
                        <small><a href="blog-category-01.html" title="">{{ deco.created_date | datetime }}</a></small>
                    </div>
                </div>

                <hr class="invis">
                {% endfor %}
            </div>
        </div>

        <!-- ADVERTISING
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="banner-spot clearfix">
                    <div class="banner-img">
                        <img src="../style/upload/banner_02.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</section>

{% endblock %}