
<div class="col-lg-4">
    <div class="sparkline8-list shadow-reset">
        <div class="sparkline8-hd">
            <div class="main-sparkline8-hd">
                <h1>Détails du produit</h1>
                <div class="sparkline8-outline-icon">
                    <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>
                    <span><i class="fa fa-wrench"></i></span>
                    <span class="sparkline8-collapse-close"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <div class="sparkline8-graph">
            <div class="basic-login-form-ad">
                <form action="">
                    <div class="row">
                        {% if item.image %}
                            <div class="col-lg-12 col-md-12">
                                <img src="{{ item.thumb }}" alt="" class="img-fluid">
                            </div>
                        {% endif %}
                        {{ field('show_name', 'Nom du produit', item.name, {disabled: true, col:12}) }}
                        {{ field('show_slug', 'Slug', item.slug, {disabled: true, col:12}) }}
                        {{ field('show_price', 'Prix', item.price, {disabled: true, col:12}) }}
                        {{ field('show_description', 'Contenu', item.description, {disabled: true, col:12, type: 'textarea'}) }}
                        {{ field('show_created_at', 'Date d\'ajout', item.created_at | datetime, {disabled: true, col:12}) }}
                        {{ field('show_updated_at', 'Date de la dernière modification', item.updated_at | datetime, {disabled: true, col:12}) }}
                        {{ field('show_pdf', 'PDF', item.pdf, {disabled: true, col:12}) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>